body.theme-green {
  padding: 50px;
  font: 14px;
  background-image: url('https://res.cloudinary.com/gimmersta-wallpaper/image/upload/c_fill,f_auto,fl_progressive,q_auto,w_1100,h_800/v1724415939/articles/R20824_product.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  cursor: url('/images/green-cursor-1.png') 4 4, auto;
  min-height: 100vh;
}

.theme-green h1{
  font-family: "Delius Swash Caps";
  text-align: center;
  margin-top: 0;
  color: rgb(29, 90, 29);
  font-size: 40px;
}

.theme-green h3 {
  font-family: "Delius";
  text-align: center;
  color: #253b2c;
  font-size: 20px;
}

.theme-green button {
  background-color:#639473;
  color: black;
  font-size:16px;
  font-family:"Sour Gummy";
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: url('/images/green-cursor-2.png') 4 4, pointer;
}

.theme-green button:hover{
  background-color:#476e53;
  color: white;
  cursor: url('/images/green-cursor-2.png') 4 4, pointer;
}

.theme-green li {
  font-family: "Hi Melody";
  font-size: 24px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.theme-green .add-task {
  display: flex;
  justify-content: center; 
}

.theme-green #todo-list {
  list-style-type: none;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6); /* White with 60% opacity */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  
}

.theme-green #todo-input {
  font-family: "Hi Melody";
  font-size: 20px;
}

.theme-green input[type="checkbox"]{
  width: 20px;
  height: 20px;
  accent-color: #73c98e;
  cursor: url('/images/green-cursor-2.png') 4 4, pointer;
}

.theme-green .pomodoro-timer{
  margin: 2rem auto;
  padding: 1rem 2rem;
  width: fit-content;
  text-align: center;
  font-family: 'Sour Gummy', cursive;
  background-color: #639473;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba (0,0,0,0.2);
}

.theme-green #timer{
  font-size: 3rem;
  margin: 1rem 0;
  color: #112617;
}

.theme-green .pomodoro-timer button {
  background-color:#87a891;
  font-size: 1rem;
  color: var(--button-text);
  border: none;
  padding: 6px 12px;
  margin-left: 6px;
  margin-right: 6px;
  cursor: url('/images/green-cursor-2.png') 4 4, pointer;
}

.theme-green .pomodoro-timer button:hover {
  background-color:#112617;
  color: white;
  cursor: url('/images/green-cursor-2.png') 4 4, pointer;
}

.theme-green #pomodoro-counter {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1rem;
  font-family: "Sour Gummy";
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px 10px;
  border-radius: 8px;
}



.theme-green h2{
  color:#112617;
}

.theme-green .theme-selector-container {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: "Sour Gummy";
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px 10px;
  border-radius: 8px;
  z-index: 1000;
  cursor: url('/images/green-cursor-2.png') 4 4, auto;
}

.theme-green #theme-selector-wrapper select {
  font-family: "Sour Gummy";
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: url('/images/green-cursor-2.png') 4 4, auto;
}

body.theme-sky {
  padding: 50px;
  font: 14px;
  background-image: url('https://t4.ftcdn.net/jpg/04/89/20/71/360_F_489207118_HDWcKsb17oWJiZG1me09nxdUs4JbTL2t.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  cursor: url('/images/sky-cursor-2.png') 4 4, auto;
  min-height: 100vh;
}

.theme-sky h1 {
  color: #5ab0db;
  font-family: "Delius Swash Caps";
  text-align: center;
  margin-top: 0;
  font-size: 40px;
}

.theme-sky h3 {
  color: #3a7ca5;
  font-family: "Delius";
  text-align: center;
  font-size: 20px;
}

.theme-sky button {
  background-color: #83d1f7;
  color: white;
  font-size:16px;
  font-family:"Sour Gummy";
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: url('/images/sky-cursor-1.png') 4 4, pointer;
}

.theme-sky button:hover {
  background-color: #538299;
  cursor: url('/images/sky-cursor-1.png') 4 4, pointer;
}

.theme-sky li{
  font-family: "Hi Melody";
  font-size: 24px;
  padding: 20px;
  display: flex;
  align-items: center;
}


.theme-sky input[type="checkbox"] {
  accent-color: #3a7ca5;
  width: 20px;
  height: 20px;
  cursor: url('/images/sky-cursor-1.png') 4 4, pointer;
}

.theme-sky .pomodoro-timer {
  background-color: #b8dff2;
  margin: 2rem auto;
  padding: 1rem 2rem;
  width: fit-content;
  text-align: center;
  font-family: 'Sour Gummy', cursive;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba (0,0,0,0.2);
  
}

.theme-sky .pomodoro-timer button {
  background-color: #59afd4;
  color: white;
  cursor: url('/images/sky-cursor-1.png') 4 4, pointer;
}

.theme-sky .pomodoro-timer button:hover {
  background-color: #538299;
  cursor: url('/images/sky-cursor-1.png') 4 4, pointer;
}

.theme-sky #pomodoro-counter {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1rem;
  font-family: "Sour Gummy";
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px 10px;
  border-radius: 8px;
}

.theme-sky h2 {
  color: #183b4d;
}

.theme-sky #timer{
  font-size: 3rem;
  margin: 1rem 0;
  color: #183b4d;
}

.theme-sky .add-task {
  display: flex;
  justify-content: center; 
}

.theme-sky #todo-list {
  list-style-type: none;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6); /* White with 60% opacity */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.theme-sky #todo-input {
  font-family: "Hi Melody";
  font-size: 20px;
}

.theme-sky .theme-selector-container {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: "Sour Gummy";
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px 10px;
  border-radius: 8px;
  z-index: 1000;
  cursor: url('/images/sky-cursor-1.png') 4 4, auto;
}

.theme-sky #theme-selector-wrapper select {
  font-family: "Sour Gummy";
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: url('/images/sky-cursor-1.png') 4 4, auto;
}

body.theme-pastel {
  padding: 50px;
  font: 14px;
  background-image: url('https://www.shutterstock.com/image-vector/hand-painted-pastel-pink-cotton-600nw-2546959081.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  cursor: url('/images/pastel-cursor-2.png') 4 4, auto;
  min-height: 100vh;
}

.theme-pastel h1 {
  color: #f52cb2;
  font-family: "Delius Swash Caps";
  text-align: center;
  margin-top: 0;
  font-size: 40px;
}

.theme-pastel h3 {
  color: #bf228b;
  font-family: "Delius";
  text-align: center;
  font-size: 20px;
}

.theme-pastel button {
  background-color: #ffaad5;
  color: white;
  font-size:16px;
  font-family:"Sour Gummy";
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: url('/images/pastel-cursor-1.png') 4 4, pointer;
}

.theme-pastel button:hover {
  background-color: #ff6bb5;
  cursor: url('/images/pastel-cursor-1.png') 4 4, pointer;
}

.theme-pastel li{
  font-family: "Hi Melody";
  font-size: 24px;
  padding: 20px;
  display: flex;
  align-items: center;
}


.theme-pastel input[type="checkbox"] {
  accent-color: #ff6bb5;
  width: 20px;
  height: 20px;
  cursor: url('/images/pastel-cursor-1.png') 4 4, pointer;
}

.theme-pastel .pomodoro-timer {
  background-color: #e889d3;
  margin: 2rem auto;
  padding: 1rem 2rem;
  width: fit-content;
  text-align: center;
  font-family: 'Sour Gummy', cursive;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba (0,0,0,0.2);
  
}

.theme-pastel .pomodoro-timer button {
  background-color: #a6338d;
  color: white;
  cursor: url('/images/pastel-cursor-1.png') 4 4, pointer;
}

.theme-pastel .pomodoro-timer button:hover {
  background-color: #662757;
  cursor: url('/images/pastel-cursor-1.png') 4 4, pointer;
}

.theme-pastel #pomodoro-counter {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1rem;
  font-family: "Sour Gummy";
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px 10px;
  border-radius: 8px;
}

.theme-pastel h2 {
  color: #662757;
}

.theme-pastel #timer{
  font-size: 3rem;
  margin: 1rem 0;
  color: #662757;
}

.theme-pastel .add-task {
  display: flex;
  justify-content: center; 
}

.theme-pastel #todo-list {
  list-style-type: none;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6); /* White with 60% opacity */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.theme-pastel #todo-input {
  font-family: "Hi Melody";
  font-size: 20px;
}

.theme-pastel .theme-selector-container {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: "Sour Gummy";
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px 10px;
  border-radius: 8px;
  z-index: 1000;
  cursor: url('/images/pastel-cursor-1.png') 4 4, auto;
}

.theme-pastel #theme-selector-wrapper select {
  font-family: "Sour Gummy";
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: url('/images/pastel-cursor-1.png') 4 4, auto;
}
/*
fonts

heading: Delius Swash Caps
subheading: Delius
list item: hi melody
button: Sour gummy
*/