body {
  padding: 50px;
  font: 14px;
  background-color: #cdffcf;
}

a {
  color: #00B7FF;
}

h1{
  font-family: "Delius Swash Caps";
  text-align: center;
  margin-top: 0;
  color: green;
  font-size: 40px;
}

h3 {
  font-family: "Delius";
  text-align: center;
  color: darkgreen;
  font-size: 20px;
}

button {
  background-color:rgb(15, 143, 43);
  color: black;
  font-size:16px;
  font-family:"Sour Gummy";
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover{
  background-color:rgb(0, 66, 15);
  color: white;
}

li {
  font-family: "Hi Melody";
  font-size: 24px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.add-task {
  display: flex;
  justify-content: center; 
}

#todo-list {
  list-style-type: none;
  padding-left: 0;
}

#todo-input {
  font-family: "Hi Melody";
  font-size: 20px;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  accent-color: #42a816;
  cursor: pointer;
}

.pomodoro-timer{
  margin: 2rem auto;
  padding: 1rem 2rem;
  width: fit-content;
  text-align: center;
  font-family: 'Sour Gummy', cursive;
  background-color: green;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba (0,0,0,0.2);
}

#timer{
  font-size: 3rem;
  margin: 1rem 0;
}

.pomodoro-timer button {
  background-color:rgb(47, 219, 84);
  font-size: 1rem;
  color: var(--button-text);
  border: none;
  padding: 6px 12px;
  margin-left: 6px;
  margin-right: 6px;
}

.pomodoro-timer button:hover {
  background-color:rgb(0, 66, 15);
  color: white;
}

#pomodoro-counter {
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: 'Delius', cursive;
  font-size: 1rem;
  background-color: rgb(92, 243, 144);
  padding: 5px 10px;
  border-radius: 10px;
}

h2{
  color:rgb(47, 219, 84);
}
/*
fonts

heading: Delius Swash Caps
subheading: Delius
list item: hi melody
button: Sour gummy
*/